<section id="hero" class="hero d-flex align-items-center">
    <div class="container w-75 mx-auto">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center one">
          <h1 data-aos="fade-up">
            <!-- {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == "pl" %}
              <span class="blue-span">{{ t.software.hero_h1_bold }}</span> {{ t.software.hero_h1 }}
            {% else %}
              {{ t.software.hero_h1 }} <span class="blue-span">{{ t.software.hero_h1_bold }}</span>
            {% endif %} -->
          </h1>
          <h2 data-aos="fade-up" data-aos-delay="400">
            t.software.hero_h2
          </h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a
                href="mailto:office@tipi.software"
                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                ><span>t.common.contact_us</span>
                <i class="ri-send-plane-line"></i
              ></a>
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 hero-img two"
          data-aos="zoom-out"
          data-aos-delay="200"
        >
          <div class="blob-box">
            <div class="blob">
              <div class="gooey"></div>
            </div>
          </div>
          <div class="hero-stack-top">
            <!-- {% include "website/svg/icons/service-outlined.svg" with width="200" height="200" fill="#b0dbff" %} -->
          </div>
        </div>
      </div>
    </div>
  </section>
