---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import '../styles/bootstrap.min.css';
import '../styles/header.css';
import '../styles/footer.css';
import '../styles/styles.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="" /> <!-- TODO -->
		<meta name="keywords" content="" /> <!-- TODO -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800&display=swap"
			rel="stylesheet"
			media="print"
			onload="this.media='all'"
		/>
    <meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
  <script href="/js/bootstrap.bundle.js" async></script>
</html>
<style is:global>
</style>
